<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Card Search{% endblock %}</title>

    <!-- Tailwind CDN -->
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-stone-500 min-h-screen">

    <!-- Navbar -->
    <nav class="bg-emerald-900 text-white p-4">
        <div class="max-w-6xl mx-auto flex justify-between items-center">
            <a href="{% url 'card_search:home' %}" class="hover:text-amber-500"><h1 class="text-xl font-bold">MAGIC</h1></a>
            <div class="space-x-4">
                {% if not user.is_authenticated %}
                    <a href="{% url 'card_search:home' %}" class="hover:text-amber-500">Home</a>
                {% else %}
                    <a href="{% url 'dashboard' %}" class="hover:text-amber-500">Home</a>
                {% endif %}
                {% if not user.is_authenticated %}
                    <a href="{% url 'login' %}" class="hover:text-amber-500">Login</a>
                {% else %}
                    <form method="POST" action="{% url 'logout' %}" class="inline">
                        {% csrf_token %}
                        <button type="submit" class="bg-red-600 text-white px-4 py-2 rounded hover:bg-red-700">
                            Logout
                        </button>
                    </form>
                {% endif %}
                
            </div>
        </div>
    </nav>

    <!-- Page Content -->
    <main class="max-w-6xl mx-auto p-6">
        {% block content %}
        {% endblock %}
    </main>

</body>
</html>