{% extends "./base.html" %}

{% block title %}
{% endblock %}

{% block content %}

<form method="GET" action = "{% url 'results' %}"class="space-y-4">
    {% csrf_token %}
    <div>
        {{ form.set_name.label_tag}}
        {{ form.set_name }}
        {{ form.rarity.label_tag}}
        {{ form.rarity }}
        {{ form.name.label_tag}}
        {{ form.name }}
        {{ form.type.label_tag}}
        {{ form.type }}
        {{ form.cmc.label_tag}}
        {{ form.cmc }}
        {{ form.keywords.label_tag}}
        {{ form.keywords }}
    </div>
    <button type="submit" class="px-4 py-2 bg-indigo-600 text-white rounded-md hover:bg-indigo-700">
        Submit
    </button>
</form>




{% endblock %}